/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-link {
  text-decoration: none;
  max-width: 150px;
  padding: 8px 12px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  background-color: #ebecf0;
  font-size: 16px;
  font-weight: bold;
  color: #969696;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
}

.main-link:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.main-link:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

input#datetime-picker {
  width: 272px;
  height: 40px;
  border: 2px solid #cfcfcf;
  border-radius: 8px;
  background-color: transparent;
  color: #040404;
  padding-left: 12px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 150px;
}

input#datetime-picker:active,
input#datetime-picker:focus {
  border: 2px solid #3349e9;
  color: #0e0e0e;
}
input#datetime-picker:hover {
  border: 2px solid #000000;
  color: #0e0e0e;
}
input#datetime-picker:disabled {
  background-color: #cfcfcf;
  animation: none;
}

button {
  display: inline-block;
  position: relative;
  color: #fff;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #2b3cf0;
  border-radius: 8px;
  cursor: pointer;
  min-width: 75px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}
button:focus,
button:hover {
  background-color: #4e66e9;
}
button:disabled {
  background-color: #cfcfcf;
  animation: none;
}

.timer {
  display: flex;
  margin-top: 40px;
  margin-left: 150px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.value {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  color: #080808;
  margin-bottom: 16px;
}

.label {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #050505;
}
